<ng-template #foglalkozasContent>
    <div *ngIf="csapatTerv">
        <app-csapat-terv
            [start]="start"
            [csapatTerv]="csapatTerv"
        ></app-csapat-terv>
    </div>
    <div *ngIf="rajTerv">
        <app-raj-terv
            [start]="start"
            [rajTerv]="rajTerv"
        ></app-raj-terv>
    </div>
    <div *ngIf="orsiTerv">
        <app-orsi-terv
            [start]="start"
            [orsiTerv]="orsiTerv"
        ></app-orsi-terv>
    </div>
    <div *ngIf="concurrentTervek">
        <app-concurrent-tervek
            [start]="start"
            [concurrentTervek]="concurrentTervek"
        ></app-concurrent-tervek>
    </div>
    <div *ngIf="csapatFoglalkozas">
        <app-csapat-foglalkozas
            [csapatFoglalkozas]="csapatFoglalkozas"
        ></app-csapat-foglalkozas>
    </div>
    <div *ngIf="rajFoglalkozas">
        <app-raj-foglalkozas
            [rajFoglalkozas]="rajFoglalkozas"
        ></app-raj-foglalkozas>
    </div>
    <div *ngIf="orsiFoglalkozas">
        <app-orsi-foglalkozas
            [orsiFoglalkozas]="orsiFoglalkozas"
        ></app-orsi-foglalkozas>
    </div>
</ng-template>

<ng-container *ngIf="wrapInCard; else foglalkozasContent">
    <mat-card [ngClass]="foglalkozasCssStyle ?? ''" class="foglalkozas-card">
        <mat-card-content class="foglalkozas-card-content">
            <ng-container *ngTemplateOutlet="foglalkozasContent"></ng-container>
        </mat-card-content>
    </mat-card>
</ng-container>
