<div class="foglalkozas">
    <div *ngIf="csapatTerv">
        <app-csapat-terv
            [start]="start"
            [csapatTerv]="csapatTerv"
        ></app-csapat-terv>
    </div>
    <div *ngIf="rajTerv">
        <app-raj-terv
            [start]="start"
            [rajTerv]="rajTerv"
        ></app-raj-terv>
    </div>
    <div *ngIf="orsiTerv">
        <app-orsi-terv
            [start]="start"
            [orsiTerv]="orsiTerv"
        ></app-orsi-terv>
    </div>
    <div *ngIf="csapatFoglalkozas">
        <app-csapat-foglalkozas
            [csapatFoglalkozas]="csapatFoglalkozas"
        ></app-csapat-foglalkozas>
    </div>
    <div *ngIf="rajFoglalkozas">
        <app-raj-foglalkozas
            [rajFoglalkozas]="rajFoglalkozas"
        ></app-raj-foglalkozas>
    </div>
    <div *ngIf="orsiFoglalkozas">
        <app-orsi-foglalkozas
            [orsiFoglalkozas]="orsiFoglalkozas"
        ></app-orsi-foglalkozas>
    </div>
</div>
