<ng-template #foglalkozasContent>

    <div *ngIf="foglalkozas.type === FoglalkozasType.CsapatTerv">
        <app-csapat-terv
            [start]="start"
            [csapatTerv]="terv!"
        ></app-csapat-terv>
    </div>

    <div *ngIf="foglalkozas.type === FoglalkozasType.RajTerv">
        <app-raj-terv
            [start]="start"
            [rajTerv]="terv!"
        ></app-raj-terv>
    </div>

    <div *ngIf="foglalkozas.type === FoglalkozasType.OrsiTerv">
        <app-orsi-terv
            [start]="start"
            [orsiTerv]="terv!"
        ></app-orsi-terv>
    </div>

    <div *ngIf="foglalkozas.type === FoglalkozasType.ConcurrentTervek">
        <app-concurrent-tervek
            [start]="start"
            [concurrentTervek]="terv!"
        ></app-concurrent-tervek>
    </div>

    <div *ngIf="foglalkozas.type === FoglalkozasType.CsapatFoglalkozas">
        <app-csapat-foglalkozas
            [csapatFoglalkozas]="foglalkozas"
        ></app-csapat-foglalkozas>
    </div>

    <div *ngIf="foglalkozas.type === FoglalkozasType.RajFoglalkozas">
        <app-raj-foglalkozas
            [rajFoglalkozas]="foglalkozas"
        ></app-raj-foglalkozas>
    </div>

    <div *ngIf="foglalkozas.type === FoglalkozasType.OrsiFoglalkozas">
        <app-orsi-foglalkozas
            [orsiFoglalkozas]="orsiFoglalkozas!"
        ></app-orsi-foglalkozas>
    </div>

</ng-template>

<ng-container *ngIf="wrapInCard && (layout$ | async) == Layout.Desktop; else foglalkozasContent">
    <div class="foglalkozas-wrapper">
        <mat-card [ngClass]="foglalkozasCssStyle ?? ''" class="foglalkozas-card">
            <mat-card-content class="foglalkozas-card-content">
                <section class="duration-section">
                    <mat-form-field class="duration">
                        <input matInput
                            type="number"
                            [(ngModel)]="foglalkozas.duration"
                            (change)="durationChanged()"
                            [readonly]="!(editableDuration$ | async)"
                        />
                        <mat-hint [align]="'start'">perc</mat-hint>
                    </mat-form-field>
                </section>

                <section class="terv-section">
                    <ng-container *ngTemplateOutlet="foglalkozasContent"></ng-container>
                </section>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>
