@import "../../../colors";

.foglalkozas-card {
    border-radius: 20px;
}

.foglalkozas-card-content {
    // width: 100%;
    text-align: left;
    display: flex;
    color: $text-color;
}

.foglalkozas-card-content div {
    // width: 100%;
}

.csapat-foglalkozas {
    background: $csapat-foglalkozas-background;
}

.raj-foglalkozas {
    background: $raj-foglalkozas-background;
}

.orsi-foglalkozas {
    background: $orsi-foglalkozas-background;
}

.csapat-terv {
    background: $csapat-terv-background;
}

.raj-terv {
    background: $raj-terv-background;
}

.orsi-terv {
    background: $orsi-terv-background;
}

section {
    margin: 10px;
    display: block;
}

.terv-section {
    width: 100%;
}

.duration {
    width: 4em;
    font-size: x-large;
    color: $text-color;
}
