
.szemszog {
    font-size: xx-large;
}

.icon {
    max-width: 1em;
    max-height: 1em;
}

.AproCserkesz {
    background-color: #add8e6;
}

.KisCserkesz {
    background-color: #0000ff;
}

.Cserkesz {
    background-color: #008900;
}

.Rover {
    background-color:#9a9a9a;
}

.Felnot {
    background-color:#571616;
}
