<mat-button-toggle-group #buttonGroup
    class="szemszog"
    name="szemszog"
    (change)="changeCsoport($event.value)"
>
    <table>
        <tr *ngFor="let raj of csapat.rajok">
            <td>
                <mat-button-toggle
                    [value]="raj"
                    [matTooltip]="raj.name + ' raj'"
                    matTooltipClass="large"
                >
                    {{raj.emoji}}
                </mat-button-toggle>
            </td>
            <td *ngFor="let ors of raj.orsok">
                <mat-button-toggle
                    [value]="ors"
                    [matTooltip]="ors.name + ' őrs'"
                    matTooltipClass="large"
                >
                    {{ors.emoji}}
                </mat-button-toggle>
            </td>
        </tr>
    </table>
</mat-button-toggle-group>
