<app-terv
    [start]="start"
    [terv]="csapatTerv"
></app-terv>

<button *ngIf="editable$ | async"
    mat-fab
    class="add-new-foglalkozas-button"
    color="gold"
    matTooltip="Új csapat foglalkozás"
    matTooltipClass="large"
    (click)="addCsapatFoglalkozas()"
>
    <mat-icon>add</mat-icon>
</button>

<ng-container *ngIf="csapat$ | async as csapat">
    <button *ngIf="editable$ | async"
        mat-fab
        class="add-new-foglalkozas-button"
        color="silver"
        matTooltip="Új raj foglalkozás"
        matTooltipClass="large"
        (click)="addRajFoglalkozas(csapat)"
    >
        <mat-icon>add</mat-icon>
    </button>
</ng-container>
