<app-terv
    [start]="start"
    [terv]="csapatTerv"
></app-terv>

<button *ngIf="isCsapatSzemszog(state.szemszog)"
    mat-fab
    class="add-new-foglalkozas-button"
    color="gold"
    matTooltip="Új csapat foglalkozás"
    matTooltipClass="large"
    (click)="addCsapatFoglalkozas()"
>
    <mat-icon>add</mat-icon>
</button>

<button *ngIf="isCsapatSzemszog(state.szemszog)"
    mat-fab
    class="add-new-foglalkozas-button"
    color="silver"
    matTooltip="Új raj foglalkozás"
    matTooltipClass="large"
    (click)="addRajTerv()"
>
    <mat-icon>add</mat-icon>
</button>
