@import "../../../colors";

.mat-silver {
    background-color: $silver;
}

.mat-bronze {
    background-color: $bronze;
}

.add-new-foglalkozas-buttons {
    margin: auto;
    width: fit-content;
}

.add-new-foglalkozas-button {
    margin-left: 5px;
    margin-right: 5px;
}
