<app-terv
    [start]="start"
    [terv]="rajTerv"
></app-terv>

<ng-container *ngIf="raj$ | async as raj">
    <ng-container *ngIf="children$ | async as children">
    <div *ngIf="computeRemainingDuration(rajTerv, children) > 0"
        class="add-new-foglalkozas-buttons"
    >
        <button mat-fab *ngIf="editableContent$ | async"
            class="add-new-foglalkozas-button"
            color="silver"
            matTooltip="Új raj foglalkozás"
            matTooltipClass="large"
            (click)="addRajFoglalkozas(raj, children)"
        >
            <mat-icon>add</mat-icon>
        </button>

        <button mat-fab *ngIf="editableContent$ | async"
            class="add-new-foglalkozas-button"
            color="bronze"
            matTooltip="Új őrsi foglalkozás"
            matTooltipClass="large"
            (click)="addOrsiTerv(raj)"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
</ng-container>
