<app-terv
    [start]="start"
    [terv]="rajTerv"
></app-terv>

<div *ngIf="rajTerv.computeRemainingDuration() > 0"
    class="add-new-foglalkozas-buttons"
>
    <button mat-fab *ngIf="editableContent$ | async"
        class="add-new-foglalkozas-button"
        color="silver"
        matTooltip="Új raj foglalkozás"
        matTooltipClass="large"
        (click)="addRajFoglalkozas()"
    >
        <mat-icon>add</mat-icon>
    </button>

    <button mat-fab *ngIf="editableContent$ | async"
        class="add-new-foglalkozas-button"
        color="bronze"
        matTooltip="Új őrsi foglalkozás"
        matTooltipClass="large"
        (click)="addOrsiTerv()"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>
