<div *ngIf="szemszog$ | async as szemszog"
    class="munkaterv"
>
    <div *ngIf="(layout$ | async) != Layout.Print"
        class="top-left-toolbar"
    >
        <a mat-icon-button
            [routerLink]="'/csapat/' + csapat.name"
            [matTooltip]="'Vissza a ' + csapat.name + ' csapathoz'"
            matTooltipClass="large"
        >
            <mat-icon>arrow_back</mat-icon>
        </a>
        <a mat-icon-button
            [matTooltip]="(layout$ | async) == Layout.Desktop ? 'Telefon verzió' : 'Számitógep verzió'"
            matTooltipClass="large"
            (click)="printLayout(szemszog)"
        >
            <mat-icon *ngIf="(layout$ | async) == Layout.Desktop">phone_iphone</mat-icon>
            <mat-icon *ngIf="(layout$ | async) == Layout.Mobile">desktop_mac</mat-icon>
        </a>
    </div>

    <div *ngIf="(layout$ | async) == Layout.Desktop; else csapatSignPlaceHolder"
        class="csapat-sign centered">
        <img class="csapat-background" [src]="'assets/csapatok/background.png'" />
        <img class="csapat-logo"
            [src]="csapat.logoUri"
            [matTooltip]="csapat.name + 'i csapat'"
            matTooltipClass="large"
            (click)="changeSzemszogToCsapat(szemszog)" />
    </div>

    <ng-template #csapatSignPlaceHolder>
        <div class="csapat-sign">
            {{szemszog.csoport.emoji}}
        </div>
    </ng-template>

    <app-szemszog-selection class="szemszog" [csapat]="csapat"></app-szemszog-selection>

    <div class="date" [ngClass]="(layout$ | async) == Layout.Desktop ? 'date-large' : 'date-small'">
        {{formatHungarianDate(start)}}
    </div>
    <div class="start" [ngClass]="(layout$ | async) == Layout.Desktop ? 'start-large' : 'start-small'">
        {{formatHungarianTime(start)}}
    </div>

    <app-foglalkozas *ngIf="csapatTerv$ | async as csapatTerv"
        [start]="start"
        [foglalkozas]="csapatTerv"
    ></app-foglalkozas>

    <div *ngIf="children$ | async as children"
        class="time"
        [ngClass]="(layout$ | async) == Layout.Desktop ? 'time-large' : 'time-small'"
    >
        {{computeOszoljTime(children)}}
    </div>
</div>
