<div class="munkaterv">
    <a mat-icon-button
        class="back-button"
        [routerLink]="'/csapat/' + csapat.name"
        [matTooltip]="'Vissza a ' + csapat.name + ' csapathoz'"
        matTooltipClass="large"
    >
        <mat-icon class="back-button-icon">arrow_back</mat-icon>
    </a>

    <div class="csapat-sign centered">
        <img class="csapat-background" [src]="'assets/csapatok/background.png'" />
        <img class="csapat-logo"
            [src]="csapat.logoUri"
            [matTooltip]="csapat.name + 'i csapat'"
            matTooltipClass="large"
            (click)="changeSzemszogToCsapat()" />
    </div>

    <app-szemszog-selection class="szemszog" [csapat]="csapat"></app-szemszog-selection>

    <div class="date">{{formatHungarianDate(start)}}</div>
    <div class="start">{{formatHungarianTime(start)}}</div>

    <app-foglalkozas *ngIf="csapatTerv$ | async as csapatTerv"
        [start]="start"
        [foglalkozas]="csapatTerv"
    ></app-foglalkozas>

    <div *ngIf="children$ | async as children"
        class="time"
    >
        {{computeOszoljTime(children)}}
    </div>
</div>
