<!-- <div class="background"></div> -->

<div class="munkaterv" *ngIf="csapatTerv$ | async as csapatTerv">
    <div *ngIf="state.layout !== Layout.Print"
        class="toolbar"
    >
        <a mat-icon-button
            [routerLink]="'/csapat/' + csapat.name"
            [matTooltip]="'Vissza a ' + csapat.name + ' csapathoz'"
            matTooltipClass="large"
        >
            <mat-icon>arrow_back</mat-icon>
        </a>
        <a *ngIf="state.layout === Layout.Desktop"
            mat-icon-button
            matTooltip="Telefon verzió"
            matTooltipClass="large"
            (click)="state.layout = Layout.Mobile"
        >
            <mat-icon>phone_iphone</mat-icon>
        </a>
        <a *ngIf="state.layout === Layout.Mobile"
            mat-icon-button
            matTooltip="Számitógep verzió"
            matTooltipClass="large"
            (click)="state.layout = Layout.Desktop"
        >
            <mat-icon>desktop_mac</mat-icon>
        </a>
        <a *ngIf="state.theme === Theme.Dark"
            mat-icon-button
            matTooltip="Világos szinek"
            matTooltipClass="large"
            (click)="state.theme = Theme.Light"
        >
            <mat-icon>light_mode</mat-icon>
        </a>
        <a *ngIf="state.theme === Theme.Light"
            mat-icon-button
            matTooltip="Sötét szinek"
            matTooltipClass="large"
            (click)="state.theme = Theme.Dark"
        >
            <mat-icon>dark_mode</mat-icon>
        </a>
        <a mat-icon-button
            [matTooltip]="csapat.name + 'i csapat'"
            matTooltipClass="large"
            (click)="state.szemszog = csapat"
        >
            <img class="breadcrum-csoport-icon" [src]="csapat.getIconUri()" />
        </a>
        <a *ngIf="state.lastSzemszog && state.lastSzemszog !== csapat"
            mat-icon-button
            [matTooltip]="state.lastSzemszog.name + ' ' + state.lastSzemszog.type"
            matTooltipClass="large"
            (click)="state.szemszog = state.lastSzemszog"
        >
            <img class="breadcrum-csoport-icon" [src]="state.lastSzemszog.getIconUri()" />
        </a>
    </div>

    <div *ngIf="state.layout === Layout.Desktop"
        class="centered"
    >
        <img class="csoport-icon"
            [matTooltip]="state.szemszog.name + ' ' + state.szemszog.type"
            matTooltipClass="large"
            [src]="state.szemszog.getIconUri()" />
    </div>

    <!-- <ng-template #csapatSignPlaceHolder>
        <div class="csapat-sign">
            <img class="csapat-logo" [src]="szemszog.csoport.getIconUri()" />
        </div>
    </ng-template> -->

    <app-szemszog-selection class="szemszog" [csapat]="csapat"></app-szemszog-selection>

    <div class="date" [ngClass]="state.layout === Layout.Desktop ? 'date-large' : 'date-small'">
        {{formatDate()}}
    </div>
    <div class="start" [ngClass]="state.layout === Layout.Desktop ? 'start-large' : 'start-small'">
        <div *ngIf="state.szemszog.type !== CsoportType.Csapat; else timeSelector">
            {{formatTime(csapatTerv)}}
        </div>
        <ng-template #timeSelector>
            <mat-form-field class="startTime">
                <input matInput
                        name="ido"
                        type="time"
                        value="13:00"
                        [(ngModel)]="csapatTerv.startTime"
                        (ngModelChange)="storeCsapatTerv(csapatTerv)"
                        [readonly]="state.szemszog.type !== CsoportType.Csapat"
                />
                <mat-hint [align]="'start'">idő</mat-hint>
            </mat-form-field>
        </ng-template>
    </div>

    <app-foglalkozas
        [start]="buildDate(date, csapatTerv.startTime)"
        [foglalkozas]="csapatTerv"
    ></app-foglalkozas>

    <div *ngIf="children$ | async as children"
        class="time"
        [ngClass]="state.layout === Layout.Desktop ? 'time-large' : 'time-small'"
    >
        {{computeOszoljTime(csapatTerv, children)}}
    </div>
</div>
