@import "../../../colors";

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.munkaterv {
    padding: 20px;
    display: block;
    overflow: hidden;
    text-align: center;
}

.szemszog {
    position: absolute;
    top: 20px;
    right: 20px;
}

.toolbar {
    text-align: left;
    font-size: xx-large;
}

.csoport-icon {
    width: 5em;
    height: 5em;
    padding: 20px;
}

.csapat-logo {
    position: absolute;
    top: 80px;
    transform: translate(calc(50% - 62.5px), 0%);
    height: 125px;
}

.centered {
    display: flex;
    justify-content: center;
}

.date {
    text-align: left;
}

.date-large {
    left: 20px;
    font-size: xx-large;
    padding-bottom: 20px;
}

.date-small {
    font-size: medium;
}

.start {
    text-align: left;
}

.start-large {
    left: 20px;
    font-size: x-large;
}

.start-small {
    font-size: medium;
}

.time {
    text-align: left;
}

.time-large {
    left: 20px;
    font-size: x-large;
}

.time-small {
    left: 0px;
    font-size: medium;
}
