<div>
    <div *ngIf="selectedCsoport$ | async as selectedCsoport; else unselected">
        <app-foglalkozas *ngIf="getFoglalkozas$(selectedCsoport) | async as foglalkozas"
            [start]="start"
            [foglalkozas]="foglalkozas"
        ></app-foglalkozas>
    </div>
    <ng-template #unselected>
        <div class="csoportok">
            <div *ngFor="let csoport of (csoportok$ | async)"
                class="csoport"
                (click)="csangeSzemszog(csoport)"
            >
                <img class="icon" [src]="csoport.getIconUri()" />
                <div>{{csoport.name}} {{csoport.type}}</div>
            </div>
        </div>
    </ng-template>
</div>
