<div class="foglalkozas">
    <div class="csapatFoglalkozas" *ngIf="csapatFoglalkozas">
        <app-csapat-foglalkozas
            [csapatFoglalkozas]="csapatFoglalkozas"
        ></app-csapat-foglalkozas>
    </div>
    <div class="rajTerv" *ngIf="rajTerv">
        <app-raj-terv
            [rajTerv]="rajTerv"
        ></app-raj-terv>
    </div>
    <div class="rajFoglalkozas" *ngIf="rajFoglalkozas">
        <app-raj-foglalkozas
            [rajFoglalkozas]="rajFoglalkozas"
        ></app-raj-foglalkozas>
    </div>
    <div class="orsiFoglalkozas" *ngIf="orsiFoglalkozas">
        <app-orsi-foglalkozas
            [orsiFoglalkozas]="orsiFoglalkozas"
        ></app-orsi-foglalkozas>
    </div>
</div>
