<mat-card class="foglalkozas-card">
    <mat-card-content class="foglalkozas-card-content">
        <section class="time">
            <mat-form-field class="duration">
                <input matInput type="number" [(ngModel)]="csapatFoglalkozas.duration" />
                <mat-hint [align]="'start'">perc</mat-hint>
            </mat-form-field>
        </section>

        <section class="editor-section">
            <angular-editor
                [id]="uuidv4()"
                [config]="editorConfig"
                [(ngModel)]="csapatFoglalkozas.leiras"
            ></angular-editor>
        </section>
    </mat-card-content>
</mat-card>
