@import "../../colors";

.program-card {
    border-radius: 20px;
    background-color: $dark-silver;
}

.program-card-content {
    text-align: left;
    display: flex;
}

section {
    margin: 10px;
    display: block;
}

.time {
    display: block;
    //padding: 10px;
}

.duration {
    width: 2em;
    font-size: x-large;
}

mat-slider {
    width: 100px;
    margin-top: 10px;
}

.proba-selected {
    max-width: 32px;
}

.proba-image {
    max-width: 32px;
}

.tema-emoji {
    font-size: xx-large;
}

.alproba {
    margin-top: 10px;
}

::ng-deep {
    .mat-slider-thumb-label {
        transform: rotate(45deg) !important;
        border-radius: 50% 50% 0 !important;
    }
    .mat-slider-thumb {
        transform: scale(0) !important;
    }
    .mat-slider-thumb-label-text {
        opacity: 1 !important;
    }
}
