<app-terv
    [start]="start"
    [terv]="orsiTerv"
></app-terv>

<ng-container *ngIf="ors$ | async as ors">
    <ng-container *ngIf="children$ | async as children">

        <div *ngIf="computeRemainingDuration(orsiTerv, children) > 0"
            class="add-new-foglalkozas-buttons"
        >
            <button mat-fab *ngIf="editableAdding$ | async"
                class="add-new-foglalkozas-button"
                color="bronze"
                matTooltip="Új őrsi foglalkozás"
                matTooltipClass="large"
                (click)="addOrsiFoglalkozas(ors, children)"
            >
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </ng-container>
</ng-container>
