<app-terv
    [start]="start"
    [terv]="orsiTerv"
></app-terv>

<ng-container *ngIf="children$ | async as children">
    <div *ngIf="computeRemainingDuration(orsiTerv, children) > 0"
        class="add-new-foglalkozas-buttons"
    >
        <button mat-fab *ngIf="isOrsSzemszog(state.szemszog)"
            class="add-new-foglalkozas-button"
            color="bronze"
            matTooltip="Új őrsi foglalkozás"
            matTooltipClass="large"
            (click)="addOrsiFoglalkozas(children)"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
</ng-container>
