@import "../../../colors";

.add-new-foglalkozas-buttons {
    margin: auto;
    width: fit-content;
}

.add-new-foglalkozas-button {
    margin-left: 5px;
    margin-right: 5px;
}

.mat-bronze {
    color: black;
    background-color: $bronze;
}
