<mat-form-field *ngIf="state.layout !== Layout.Print; else paragraphArea">
    <mat-label *ngIf="state.layout === Layout.Desktop">
        Program
    </mat-label>

    <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        [ngClass]="state.layout !== Layout.Desktop ? 'small' : 'large'"
        [readonly]="!editable"
        [(ngModel)]="leiras"
        (ngModelChange)="leirasChange.next($event)"
    ></textarea>
</mat-form-field>

<ng-template #paragraphArea>
    <p *ngFor="let paragraph of leiras.split('\n')">
        {{paragraph}}
    </p>
</ng-template>
