mat-form-field {
    width: 100%;
}

textarea {
    width: 100%;
    font-size: 2em;
    font-weight: regular;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    // border: 1px solid black;
}
