mat-form-field {
    width: 100%;
}

textarea {
    width: 100%;
    font-weight: regular;
    // font-family: "BenchNine", sans-serif;
}

.large {
    font-size: 2em;
}

.small {
    font-size: 1em;
}
