
.csapatok {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.csapat-background {
    position: absolute;
    justify-content: center;
    height: 400px;
}

.csapat-logo {
    position: relative;
    top: 75px;
    left: 75px;
    height: 250px;
}
