<div *ngIf="fogSor.filterChildren(terv) | async as children"
    cdkDropList
    class="foglalkozasok"
    [cdkDropListDisabled]="!(draggable$ | async)"
    (cdkDropListDropped)="drop($event)"
>
    <div *ngFor="let foglalkozas of children; let last = last">

        <div cdkDrag class="foglalkozas">
            <div *ngIf="draggable$ | async" cdkDragHandle class="drag-handle">
                <mat-icon>drag_indicator</mat-icon>
            </div>

            <app-foglalkozas
                [start]="computeStartTime(children, foglalkozas.uuid)"
                [foglalkozas]="foglalkozas"
            ></app-foglalkozas>
        </div>

        <div *ngIf="!last" class="time">
            {{translateAfterTime(children, foglalkozas)}}
        </div>
    </div>
</div>
