<section>
    <div>
        <mat-slider #ageSlider
            (change)="changeAge($event.value ?? 10)"
            thumbLabel
            tickInterval="1"
            step="1"
            min="10"
            max="16">
        </mat-slider>
        {{cserkesz.name}}
    </div>
    <div>
        <button
            mat-button
            cdkOverlayOrigin
            #probaTrigger="cdkOverlayOrigin"
            [value]="proba.uid"
            matTooltip="{{proba.name}}"
            matTooltipClass="large"
            (click)="areProbakOpen = !areProbakOpen"
        >
            <img class="proba-image" src="assets/proba-jelvenyek/{{proba.uid}}Proba.png" />
        </button>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="probaTrigger"
            [cdkConnectedOverlayOpen]="areProbakOpen">
            <mat-button-toggle-group (change)="changeProba($event.value)">
                <mat-button-toggle *ngFor="let proba of probak"
                    [value]="proba.uid"
                    matTooltip="{{proba.name}}"
                    matTooltipClass="large"
                >
                    <img class="proba-image" src="assets/proba-jelvenyek/{{proba.uid}}Proba.png" />
                </mat-button-toggle>
            </mat-button-toggle-group>
        </ng-template>

        <button mat-button
            cdkOverlayOrigin
            #temaTrigger="cdkOverlayOrigin"
            matTooltip="{{tema.name}}"
            matTooltipClass="large"
            class="tema-emoji"
            (click)="areTemakOpen = !areTemakOpen"
        >
            {{tema.emoji}}
        </button>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="temaTrigger"
            [cdkConnectedOverlayOpen]="areTemakOpen">
            <mat-button-toggle-group (change)="changeTema($event.value)">
                <mat-button-toggle *ngFor="let tema of temak"
                    [value]="tema.uid"
                    matTooltip="{{tema.name}}"
                    matTooltipClass="large"
                    class="tema-emoji"
                >
                    {{tema.emoji}}
                </mat-button-toggle>
            </mat-button-toggle-group>
        </ng-template>
    </div>

    <div class="alproba" >
        <mat-form-field appearance="fill">
            <mat-label>Alpróba</mat-label>
            <mat-select
                [disabled]="alprobak.length == 1"
                [value]="alproba.uid"
                (selectionChange)="changeAlproba($event.value)"
            >
                <mat-option *ngFor="let alproba of alprobak"
                    [value]="alproba.uid"
                >
                    {{alproba.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</section>
<section>
    <mat-selection-list (selectionChange)="changePontok($event.options)">
        <mat-list-option *ngFor="let pont of pontok"
            [selected]="pont.selected"
            [value]="pont.name"
        >
            {{pont.name}}
        </mat-list-option>
    </mat-selection-list>
</section>
<section class="editor-section">
    <app-editor-wrapper
        [editable$]="editable$"
        [(leiras)]="orsiFoglalkozas.program!"
    ></app-editor-wrapper>
</section>
