<section *ngIf="state.layout === Layout.Desktop">
    <div>
        <mat-slider #ageSlider
            [(ngModel)]="orsiFoglalkozas.age"
            [matTooltip]="cserkesz.name"
            matTooltipPosition="above"
            matTooltipClass="large"
            (change)="changeAge($event.value ?? 10)"
            thumbLabel
            tickInterval="1"
            step="1"
            min="5"
            max="16">
        </mat-slider>
    </div>
    <div>
        <button
            mat-button
            cdkOverlayOrigin
            #probaTrigger="cdkOverlayOrigin"
            [value]="proba.uid"
            [matTooltip]="areProbakOpen ? '' : proba.name"
            matTooltipClass="large"
            (click)="areProbakOpen = !areProbakOpen"
        >
            <img class="proba-image" src="assets/probak/{{proba.uid}}Proba.png" />
        </button>

        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="probaTrigger"
            [cdkConnectedOverlayOpen]="areProbakOpen">
            <mat-button-toggle-group (change)="changeProba($event.value)">
                <mat-button-toggle *ngFor="let proba of probak"
                    [value]="proba.uid"
                    [matTooltip]="proba.name"
                    matTooltipClass="large"
                >
                    <img class="proba-image" src="assets/probak/{{proba.uid}}Proba.png" />
                </mat-button-toggle>
            </mat-button-toggle-group>
        </ng-template>

        <span *ngIf="cserkesz.startAge >= 10">
            <button mat-button
                cdkOverlayOrigin
                #temaTrigger="cdkOverlayOrigin"
                [matTooltip]="areTemakOpen ? '' : tema!.name"
                matTooltipClass="large"
                (click)="areTemakOpen = !areTemakOpen"
            >
                <img class="tema-icon" [src]="'assets/temak/' + tema!.uid + 'Tema.png'" />
            </button>

            <ng-template
                cdkConnectedOverlay
                [cdkConnectedOverlayOrigin]="temaTrigger"
                [cdkConnectedOverlayOpen]="areTemakOpen"
            >
                <mat-button-toggle-group (change)="changeTema($event.value)">
                    <mat-button-toggle *ngFor="let tema of temak"
                        [value]="tema.uid"
                        [matTooltip]="tema.name"
                        matTooltipClass="large"
                    >
                        <img class="tema-icon" [src]="'assets/temak/' + tema.uid + 'Tema.png'" />
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </ng-template>
        </span>
    </div>

    <div *ngIf="age >= 10 && alprobak.length > 0"
        class="alproba"
    >
        <mat-form-field appearance="fill">
            <mat-label>Alpróba</mat-label>
            <mat-select
                [disabled]="alprobak.length === 1"
                [value]="alproba!.uid"
                (selectionChange)="changeAlproba($event.value)"
            >
                <mat-option *ngFor="let alproba of alprobak"
                    [value]="alproba.uid"
                >
                    {{alproba.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div *ngIf="pontok && pontok.length > 0 && state.layout === Layout.Desktop"
        class="proba-pont"
    >
        <mat-form-field
            [matTooltip]="pontok.length === 1 ? pontok[0].name : ''"
            matTooltipClass="large"
            appearance="fill"
        >
            <mat-label>Próba pontok</mat-label>
            <mat-select multiple
                [disabled]="pontok.length === 1"
                [value]="pontok.length === 1 ? pontok : []"
                (selectionChange)="changePontok($event.value)"
            >
                <mat-option *ngFor="let pont of pontok"
                    [value]="pont"
                >
                    {{pont.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</section>

<section *ngIf="state.layout !== Layout.Desktop"
    class="type-section"
>
    <p>Őrsi:</p>
    <img *ngIf="cserkesz.startAge >= 10"
        class="tema-icon"
        [src]="'assets/temak/' + tema!.uid + 'Tema.png'"
    />
</section>

<section
    class="editor-section"
    [ngClass]="state.layout === Layout.Desktop ? 'large' : 'small'"
>
    <app-editor-wrapper
        [editable]="isOrsSzemszog(state.szemszog)"
        [(leiras)]="orsiFoglalkozas.program!"
        (change)="changeProgram()"
    ></app-editor-wrapper>
</section>
