@import "../../../colors";

:host {
    text-align: left;
    display: flex;
}

section {
    display: block;
}

.large {
    margin: 10px;
}

.small {
    margin: 0px;
}

.time {
    display: block;
}

.duration {
    width: 2em;
    font-size: x-large;
}

mat-slider {
    width: 100px;
    margin-top: 10px;
}

.proba-selected {
    max-width: 32px;
}

.proba-image {
    max-width: 32px;
}

.tema-icon {
    max-width: 2em;
    max-height: 2em;
}

.alproba {
    margin-top: 10px;
}

.editor-section {
    width: 100%;
}

.type-section {
    padding-right: 1em;
}

::ng-deep {
    .mat-slider-thumb-label {
        transform: rotate(45deg) !important;
        border-radius: 50% 50% 0 !important;
    }
    .mat-slider-thumb {
        transform: scale(0) !important;
    }
    .mat-slider-thumb-label-text {
        opacity: 1 !important;
    }
}
