<div class="csapat-terv">
    <a mat-icon-button
        routerLink="/"
        class="back-button"
        matTooltip="Vissza csapatokhoz"
        matTooltipClass="large"
    >
        <mat-icon class="back-button-icon">arrow_back</mat-icon>
    </a>

    <div class="csapat-sign centered">
        <img class="csapat-background" [src]="'assets/csapatok/background.png'" />
        <img class="csapat-logo" [src]="csapat.logoUri" />
    </div>

    <div class="add-button centered">
        <button mat-fab
            color="gold"
            matTooltip="Új munkaterv"
            matTooltipClass="large"
            (click)="addNewMunkaterv()"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div *ngFor="let esemeny of esemenyek"
        class="tervek centered">
        <mat-card class="munkaterv-card">
            <mat-card-content class="munkaterv-card-content">
                <button mat-button [routerLink]="getLink(esemeny)">
                    {{formatHungarianDateTime(esemeny.start)}}
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>
