.csapat-terv {
    padding: 20px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

.back-button-icon {
    font-size: xx-large;
}

.csapat-sign {
    padding: 20px;
}

.csapat-logo {
    height: 200px;
}

.add-button {
    padding: 20px;
}

.tervek {
    padding: 20px;
}

.centered {
    display: flex;
    justify-content: center;
}

.esemeny-passed {
    background-color: grey;
}

.esemeny-present {
    background-color: darkgoldenrod;
}

.esemeny-future {
    background-color: darkgreen;
}

.esemeny-name {
    font-size: x-large;
}

.esemeny-date {
    font-size: large;
}

.esemeny-time {
    font-size: medium;
}
