<div class="csapat-terv">
    <a mat-icon-button
        routerLink="/"
        class="back-button"
        matTooltip="Vissza csapatokhoz"
        matTooltipClass="large"
    >
        <mat-icon class="back-button-icon">arrow_back</mat-icon>
    </a>

    <div class="csapat-sign centered">
        <img class="csapat-logo" [src]="csapat.getIconUri()" />
    </div>

    <div class="add-button centered">
        <button *ngIf="(esemenyek$ | async) as esemenyek"
            mat-fab
            color="gold"
            matTooltip="Új munkaterv"
            matTooltipClass="large"
            (click)="addNewEsemeny(esemenyek)"
        >
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div *ngFor="let esemeny of (esemenyek$ | async)"
        class="tervek centered">
        <mat-card [ngClass]="'esemeny-' + getTense(esemeny)">
            <mat-card-content class="esemeny-card-content">
                <button mat-button [routerLink]="getLink(esemeny)">
                    <span class="esemeny-name">{{esemeny.name}}</span>
                    <br/>
                    <span class="esemeny-date">{{formatHungarianStartDate(esemeny.start)}}</span>
                    <br/>
                    <span class="esemeny-time">
                        {{formatHungarianStartWeekday(esemeny.start)}}
                        {{formatHungarianStartTime(esemeny.start)}}
                    </span>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<router-outlet></router-outlet>
