
$gold: #d4af37;
$silver: #aaa9ad;
$bronze: #b08d57;
$green: #63b521;
$blue: #0e4bef;

$medium-silver: #4d4e4c;

$dark-gold: #aa6c39;
$dark-silver: #353535;//#423f40;
$dark-bronze: #514100;
$dark-green: #1b4125;
$dark-blue: #02193c;

$page-background: #202020;
$foglalkozas-background: $dark-silver;
$date-and-time: #A1A1A1;

$text-color: var(--all-foglalkozas-text-color);
$time-color: var(--all-foglalkozas-time-color);
$orsi-foglalkozas-background: linear-gradient(to right, $bronze, var(--orsi-foglalkozas-background-color), 200px, var(--orsi-foglalkozas-background-color));
$orsi-terv-background: linear-gradient(to right, $bronze, var(--orsi-terv-background-color), 200px, var(--orsi-terv-background-color));
$raj-foglalkozas-background: linear-gradient(to right, $silver, var(--raj-foglalkozas-background-color), 200px, var(--raj-foglalkozas-background-color));
$raj-terv-background: linear-gradient(to right, $silver, var(--raj-terv-background-color), 200px, var(--raj-terv-background-color));
$csapat-terv-background: var(--page-background-color);
$csapat-foglalkozas-background: linear-gradient(to right, $gold, var(--csapat-foglalkozas-background-color), 200px, var(--csapat-foglalkozas-background-color));
