
$gold: #d4af37;
$silver: #aaa9ad;
$bronze: #b08d57;
$green: #63b521;
$blue: #0e4bef;

$dark-gold: #aa6c39;
$dark-silver: #423f40;
$dark-bronze: #514100;
$dark-green: #1b4125;
$dark-blue: #02193c;

$page-background: #202020;
$foglalkozas-background: #666666;
