@import "colors";

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;
    background-color: $page-background;
}

.mat-tooltip.large {
    font-size: large;
}
