<div class="munkaterv">
    <mat-button-toggle-group
        class="rang"
        name="rang"
        (change)="changeRang($event.value)"
    >
        <mat-button-toggle [value]="Rang.CserkeszTiszt" [checked]="true">
            <img
                class="harsfalevel"
                matTooltip="Parancsnoki szemszög"
                matTooltipClass="large"
                [src]="'assets/rangok/harsfalevel-tiszt.svg'"
            />
        </mat-button-toggle>
        <mat-button-toggle [value]="Rang.SegedTiszt">
            <img
                class="harsfalevel"
                matTooltip="Rajvezetői szemszög"
                matTooltipClass="large"
                [src]="'assets/rangok/harsfalevel-segedtiszt.svg'"
            />
        </mat-button-toggle>
        <mat-button-toggle [value]="Rang.OrsVezeto">
            <img
                class="harsfalevel"
                matTooltip="Őrsvezetői szemszög"
                matTooltipClass="large"
                [src]="'assets/rangok/harsfalevel-orsvezeto.svg'"
            />
        </mat-button-toggle>
    </mat-button-toggle-group>

    <a mat-icon-button
        [routerLink]="'/csapat/' + csapat.name"
        class="back-button"
        [matTooltip]="'Vissza a ' + csapat.name + ' csapathoz'"
        matTooltipClass="large"
    >
        <mat-icon class="back-button-icon">arrow_back</mat-icon>
    </a>

    <div class="csapat-sign centered">
        <img class="csapat-background" [src]="'assets/csapatok/background.png'" />
        <img class="csapat-logo" [src]="csapat.logoUri" />
    </div>

    <div class="date">{{formatHungarianDate(munkaterv.start)}}</div>
    <div class="start">{{formatHungarianTime(munkaterv.start)}}</div>

    <div cdkDropList class="foglalkozasok" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let foglalkozas of munkaterv.foglalkozasok">
            <div cdkDrag class="foglalkozas">
                <div cdkDragHandle class="drag-handle">
                    <mat-icon>drag_indicator</mat-icon>
                </div>
                <app-foglalkozas
                    [foglalkozas]="foglalkozas"
                >
                </app-foglalkozas>
            </div>
            <div class="time">{{computeTime(foglalkozas)}}</div>
        </div>
    </div>

    <button mat-fab
        class="add-new-foglalkozas-button"
        color="gold"
        matTooltip="Új csapat foglalkozás"
        matTooltipClass="large"
        (click)="addCsapatFoglalkozas()"
    >
        <mat-icon>add</mat-icon>
    </button>

    <button mat-fab
        class="add-new-foglalkozas-button"
        color="silver"
        matTooltip="Új raj foglalkozás"
        matTooltipClass="large"
        (click)="addRajFoglalkozas()"
    >
        <mat-icon>add</mat-icon>
    </button>

    <button mat-fab
        class="add-new-foglalkozas-button"
        color="bronze"
        matTooltip="Új őrsi foglalkozás"
        matTooltipClass="large"
        (click)="addOrsiFoglalkozas()"
    >
        <mat-icon>add</mat-icon>
    </button>
</div>
